<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Sign Up</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>
    <h1 style="text-align: center;">Paypal Integration</h1>

    <hr>
    <div class="container">
        <div class="form-container">
            <form class="purchase-form">
                <h2>Buy Me</h2>
                <h3>£10.00</h3>
                <br />
                Quantity:
                <input type="number" name="Buy Me" value="1" min="0" style="width: 50px;" class="input-value" />
                <input type="submit" value="Add To Basket" />
                <br />
            </form>

            <form class="purchase-form">
                <h2>Get Me</h2>
                <h3>£15.00</h3>
                <br />
                Quantity:
                <input type="number" name="Get Me" value="1" min="0" style="width: 50px;" class="input-value" />
                <input type="submit" value="Add To Basket" />
                <br />
            </form>

            <form class="purchase-form">
                <h2>Want Me</h2>
                <h3>£20.00</h3>
                <br />
                Quantity:
                <input type="number" name="Want Me" value="1" min="1" style="width: 50px;" class="input-value" />
                <input type="submit" value="Add To Basket" />
                <br />
            </form>
        </div>
        <div class="basket-container">
            <form name="ShoppingList">
                <div id="items_table">
                    <h2>Shopping List</h2>
                    <table id="list">
                        <tr>
                            <th>Item:</th>
                            <th>Quantity:</th>
                            <th>Price:</th>
                        </tr>
                    </table>
                    <label><input type="button" value="Checkout" onclick="flearAll()">
                        Go To Checkout</label> <br> <br>
                    <label><input type="button" value="Clear" onclick="empty()">
                        Empty Basket</label>
                </div>
            </form>
        </div>

    </div>

    <script>
        const inputValues = document.querySelectorAll('.input-value').forEach(input => input.value = 1); // Reset quantities
        const purchaseForms = document.querySelectorAll('.purchase-form');
        const list = document.getElementById('list');

        // Create empty basket object
        let basket = {};

        purchaseForms.forEach(btn => btn.addEventListener('submit', function (e) {
            e.preventDefault();

            // Get form data
            const getForm = new FormData(this);
            // Convert form to usable object
            const itemObject = Object.fromEntries(getForm);

            // Get item and quantity key/values
            const item = Object.keys(itemObject);
            const quantity = parseInt(Object.values(itemObject));

            if (quantity === 0) { // Return if quantity is zero
                return;
            } else {
                // If basket object does not have item, add to object with quantity, or update quantity
                basket[item] === undefined ? basket[item] = quantity : basket[item] += quantity;
            }
            // Convert basket object to array to be mapped over, create html based on item and quantity
            const html = Object.entries(basket).map(element => {
                return `<tr><td>${element[0]}</td><td>${element[1]}</td><td>£10</td></tr>`
            }).join('');
            list.innerHTML = `<tr><th>Item:</th><th>Quantity:</th><th>Price:</th></tr>` + html; // Update list html
            return;
        })
        );

        function empty(){
            basket = {};
            list.innerHTML = `<tr><th>Item:</th><th>Quantity:</th></tr>`;
        }


    </script>
</body>

</html>